@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome Karen</h1>
</div>

<div class="panel-group">

	<div class="panel panel-default">
		<h3 class="panel-heading">View Jobs</h3>
		<div class="panel-body">Button here</div>
	</div>

	<div class="panel panel-default">
		<h3 class="panel-heading">Create an Estimate</h3>
		<div class="panel-body">Button here</div>
	</div>

	<div class="panel panel-default">
		<h3 class="panel-heading">Create an Invoice</h3>
		<div class="panel-body">Button here</div>
	</div>

	<div class="panel panel-default">
		<h3 class="panel-heading">View Accounts</h3>
		<div class="panel-body">Button here</div>
	</div>

</div>